<div class="mt-5">
    <div class="col-4 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fas fa-door-open"></i>Welcome</h1>
            <%- include ('partials/messages') %>
            <p class="lead mb-3">Hello <%- userfields.name %></p>
            <a href="/users/logout" class="btn btn-primary">Logout</a>
        </div>
    </div>
</div>